/* General Body Styles */
body {
  background-color: #1a202c; /* Darker background for contrast */
  font-family: "Roboto", Arial, sans-serif;
  color: #edf2f7;
  margin: 0;
  padding: 0;
}

/* Main Container */
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#header p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: white;
}

#header .submitButton, 
#submitExpButton {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  margin-bottom: 1rem;
  font-size: 14px; /* Smaller font size */
  font-weight: bold;
  color: white;
  background: #60a5fa;
  border: 1px solid #60a5fa;
  border-radius: 5px;
  transition: all 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
  text-decoration: none;
}
#submitExpButton {
  color: #162032; /* Different text color for contrast */
  background: white;
}
#submitExpButton:hover {
  opacity: 0.8; 
  box-shadow: 0 6px 15px rgba(96, 165, 250, 0.2); /* Enhanced shadow on hover */
}

#header .submitButton:hover {
  background: #a78bfa;
  border-color: #a78bfa;
  box-shadow: 0 4px 10px rgba(167, 139, 250, 0.4); /* Slightly reduced shadow */
}

/* Footer Section */
footer {
  background-color: #2d3748;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #4a5568;
  color: #a0aec0;
}

footer a {
  text-decoration: none;
  color: #a0aec0;
}

footer a:hover {
  color: #60a5fa;
}

.logo-text {
  background: linear-gradient(to right, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Responsive Design */
@media (max-width: 768px) {
  #header h1 {
    font-size: 2.5rem;
  }

  #header p {
    font-size: 1.2rem;
  }
  #header .submitButton, 
  #submitExpButton {
    font-size: 12px; /* Smaller font for mobile */
    padding: 6px 12px; /* Compact padding for smaller devices */
  }
}
